meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Gestión de la Política de Participación Social en Salud.
meta(meta name="description" content="En este componente formativo, se aborda el marco estratégico de la Política de Participación Social en Salud (PPSS), que está conformada por 5 ejes estratégicos y sus 33 líneas de acción, que a su vez tienen implícitas las estrategias operativas. En este sentido, se aborda el plan de acción, el mapa de actores, el despliegue de las estrategias, los reportes, cumplimientos, seguimiento, monitorea y evaluación.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")