h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas              
                    +navTemaItem('1', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('2', 'Plan de acción', 'main.html#page/plan/')
                    +navTemaItem('3', 'Mapa de Actores', 'main.html#page/mapa/')
                    +navTemaItem('4', 'Despliegue de las estrategias operativas en la toma de decisiones en la gestión del sector salud en función de los ejes de la política', 'main.html#page/estrategias/')
                    +navTemaItem('5', 'Reportes y cumplimientos', 'main.html#page/reportes/')
                    +navTemaItem('6', 'Seguimiento, monitoreo y evaluación', 'main.html#page/monitoreo/')                    