h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Fomentar en la ciudadanía y sus organizaciones el derecho a la participación social en salud en el marco de la política.




