.container#page-introduccion       
    .header-ecored
        h1 1. Introducción 

    .jumbotron.bg-white  
        p La base temática de esta unidad desde una perspectiva operativa, abordará el marco estratégico de la PPSS que está conformado por los 5 ejes estratégicos y sus 33 líneas de acción, que a su vez, tienen implícitas las estrategias operativas (gestión, educación, comunicación). En su conjunto constituyen las líneas maestras que dan respuesta a las debilidades de los procesos participativos y de control social en salud, y son elemento central para operar la PPSS.
        p Se desarrollarán los siguientes elementos estratégicos para la operación de la Política de Participación Social en salud:

        img.img-a.my-5.img-fluid(src="assets/images/pages/tema-1/grupo14266.png")
                
        p El marco estratégico de la PPSS organiza y articula el actuar institucional y comunitario para fortalecer y promover los procesos de participación social en salud en aras del cumplimiento del derecho a la salud. 
        p La implementación de la PPSS considera el desarrollo y articulación de las siguientes tres estrategias: gestión, comunicación y educación, operadas a través del marco estratégico que están implícitas e integradas y son transversales en los cinco (5) ejes estratégicos y en las treinta y tres (33) líneas de acción, para efectos de armonizar las intervenciones a ejecutar, evitar la duplicidad de trabajos, hacer eficientes los recursos económicos y así dar respuesta a la finalidad de la política. 

        .row.justify-conten-center.align-items-center.mt-5
        
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/tema-1/grupo13728.png").img-fluid
            .col-12.col-md-8
                p Como herramienta fundamental, base para la planificación y puesta en marcha de un plan de acción y sus intervenciones, es necesario implementar metodologías de diagnóstico, gestión de proyectos, identificación de recursos, mapeo de actores institucionales y sociales, así como la caracterización de usuarios que permitan identificar las intervenciones en el marco de las estrategias operativas que permitan formular e implementar el plan de acción con éxito, permitiendo la participación en la gestión, facilitando así la definición y el despliegue de acciones pertinentes y coherentes con los contextos sociales a intervenir, en el marco de las competencias y responsabilidades otorgadas a los diferentes actores del sistema.