.container#page-normatividad      
    .header-ecored
        h1 3. Mapa de Actores 

    .jumbotron.bg-white       
        .row
            .col
                p La participación es un derecho universal, que tiene implícitos elementos fundamentales para su efectivo desarrollo. En primer lugar, la equidad como base para reconocer la diversidad de condiciones y posiciones de los actores, y el principio de igualdad que permite a partir de la adopción del enfoque diferencial, reducir las brechas que limiten su ejercicio.
        .row
            .col.mt-5
                p Así mismo, partiendo de los principios de la PPSS abordados en la unidad 1, la territorialidad es una de las condiciones que se debe cumplir con la operación de la Política, lo que implica que los escenarios y mecanismos de participación en salud, se generen desde la base de las dinámicas territoriales, puesto que, en cada territorio o área de influencia, se construyen lógicas participativas heterogéneas. Es decir, que las intervenciones de un territorio no son aplicables a otro, de ahí la importancia de reconocer el carácter diferencial de las poblaciones, la identificación clara de los diferentes actores y sus dinámicas sociales es fundamental ya que es con ellos con quienes se busca interactuar y son finalmente la base de las acciones a diseñar e implementar.
            .col-lg-6.col-md-6.col-sm-12.mt-5.text-center
                img(src="assets/images/pages/tema-2/grupo14265.png", alt="").img-fluid

        .row
            p.mt-3 La importancia y alcance de la identificación de actores, institucionales y sociales, y sus contextos es lograr que las entidades trabajen en la consolidación del derecho a la participación social en salud, en donde las entidades del sector establezcan contactos efectivos entre la institucionalidad y la sociedad, esto implica que se desarrollen espacios activos de interacción con la ciudadanía para superar la mirada institucional y hacer un bordaje acorde a la realidad de la población.
            p.mt-3 En este sentido, es necesario precisar que el despliegue y la transversalidad de la PPSS tiene por lo menos 2 escenarios en los cuales es indispensable desarrollar la identificación de los actores y sus relaciones.


        .row
            .row.justify-content-center.my-3
                .col-12.col-md-8
                    .card-media(style="background: #FFFCF5;")
                        .card-media__body                 
                            figure.card__figure
                                img(src="assets/images/pages/tema-2/grupo14266.png").img-fluid
                            p.card__copy 
                                 
                                    | El primero de ellos, externo, para el caso de las entidades territoriales de Salud, y demás entidades del sector como Empresas Promotoras de Salud - EPS e Instituciones Prestadoras de Salud - IPS, ubicado en la esfera o ámbito social, en donde se encuentran los diferentes actores sociales o espacios de participación sujetos a estas entidades, y otros actores institucionales dentro del territorio, pero diferentes a la dirección de salud o líderes de los procesos de participación de la entidad.
         
                    .card-media(style="background: #FFFCF5;")
                        .card-media__body                 
                            figure.card__figure
                                img(src="assets/images/pages/tema-2/grupo14267.png").img-fluid
                            p.card__copy 
                                 
                                    | En segundo lugar, el campo de aplicación interno, o ámbito institucional referido a líderes de procesos al interior de las direcciones de salud, entidades del sector o que se deben engranar a los objetivos de la Política.
                         
            

