.container#page-estrategias        
    .header-ecored
        h1 
            spam 4. Despliegue de las estrategias operativas en la toma de decisiones en la gestión del sector salud en función de los ejes de la política 

    .jumbotron.bg-white     
        .row.justify-content-center.align-items-center
            .col
                h2 Formulación y puesta en marcha del plan de acción
                p.mt-5 Dado que la implementación de la Política de Participación es gradual y progresiva, su desarrollo implica contar con una planeación estratégica efectiva desde el inicio de la programación del plan de acción hasta su ejecución para alcanzar las metas establecidas desde un panorama general hasta uno más detallado de las actividades para lograr la realización del derecho a la salud.
                img.mt-3(src="assets/images/pages/tema-3/grupo14270.png").img-fluid
                p Lograr una óptima implementación implica trabajar en el desarrollo de acciones conectadas con las estrategias operativas: gestión, educación y comunicación, que dinamicen la precitada Política Pública, desplegándolas de manera trasversal en sus cinco (5) ejes y articulándolas de manera que se optimicen esfuerzos operativos, logísticos y financieros para dar cumplimiento integral de la Política.
                p.mt-3 Con el fin de apropiar el desarrollo y el despliegue de las estrategias, el equipo técnico del Ministerio de Salud y Protección Social diseñó una guía de formulación, que contiene las consideraciones necesarias para tener en cuenta para la programación de planes de acción. Estas recogen propuestas con los posibles puntos a revisar para la formulación de metas y a actividades de cada una de las líneas de acción de la PPSS, dichas consideraciones se presentan a manera de preguntas orientadoras, con el fin que guíen a los equipos que lideran los procesos de participación en las entidades del sector y que tienen a cargo el desarrollo de actividades a fin de dar cumplimento de la política, para lo cual es fundamental transversalizar las estrategias operativas de gestión, educación y comunicación, por medio de acciones integradas, lo que permitirá que tanto la programación como su desarrollo, se lleven a cabo de forma ordenada y articulada para que generen un impacto significativo en la garantía del derecho a la participación.
                p.mt-3 A continuación, se hace una descripción de las acciones y el alcance de cada una de las estrategias operativa de la Política:
        .row
            .col-2
            .col-8    
                img.mt-3(src="assets/images/pages/tema-3/grupo14127.png").img-fluid 
            .col-2 
        .row.justify-content-center.align-items-center.mt-5
            .col
            .col
                a(href="media/ejemplos/documento.pdf" target="_blank").media-link(style="background-color:#FFFCF5")     
    
                    img(src="assets/images/pages/tema-3/grupo867.png", alt="").media-link-icon

                    .media-link-title
                        p #[strong Anexo]. Estrategias operativas de la política.
            .col
                
    #tema4-1
    .header-ecored
        h1 
            spam 5. Reportes y cumplimientos

    .jumbotron.bg-white     
        .row
            .col
                p Las entidades del sector salud tienen la responsabilidad de reportar la información la programación de los planes de acción, así como el seguimiento de las actividades ejecutadas en la vigencia, a través de la Plataforma Pisis del Sistema Integral de Información de la Protección Social – SISPRO.
            .col
                img.mt-3(src="assets/images/pages/tema-3/logo.png").img-fluid
        .row
            .col
                p Una vez se surta el reporte anual, al finalizar los cuatro años se debe consolidar la información generada con el fin de realizar la evaluación, para lo cual se revisarán los resultados que fueron arrojados y consolidados en cada vigencia.
        .row
            .col
                p Para este efecto, el Ministerio de Salud y Protección Social definió los anexos técnicos de programación y seguimiento para el reporte de información generada por las entidades obligadas a reportar los planes de acción de la PPSS.
            .col
                img.mt-3(src="assets/images/pages/tema-3/grupo14271.png").img-fluid   
        .row 
            .col
                p #[strong El instrumento utilizado para el reporte de los planes de acción en sus dos fases tiene la estructura de la siguiente manera:] 
        .row           
            .col
            .col.mt-3
                ul.list-unstyled
                    li.d-flex
                        .col-1
                            img(src="assets/images/pages/tema-2/flecha.png", style="max-width: 800%").img-icon
                        .col-11.col-md-11
                            p Apropiación, liderazgo e incidencia en procesos participativos.                        
                    li.d-flex
                        .col-1
                            img(src="assets/images/pages/tema-2/flecha.png", style="max-width: 800%").img-icon
                        .col-11.col-md-11 
                            p Pestaña/p. de Programación.                                                                                   
                    li.d-flex
                        .col-1
                            img(src="assets/images/pages/tema-2/flecha.png", style="max-width: 800%").img-icon
                        .col-11.col-md-11                        
                            p Pestaña/p. de Seguimiento.                                                           
                    li.d-flex
                        .col-1
                            img(src="assets/images/pages/tema-2/flecha.png", style="max-width: 800%").img-icon
                        .col-11.col-md-11                        
                            p Tabla de referencia para ejes y líneas de acción.                            
                    li.d-flex
                        .col-1
                            img(src="assets/images/pages/tema-2/flecha.png", style="max-width: 800%").img-icon
                        .col-11.col-md-11                
                            p Tabla de referencia población.
                    li.d-flex
                        .col-1
                            img(src="assets/images/pages/tema-2/flecha.png", style="max-width: 800%").img-icon
                        .col-11.col-md-11
                            p Tabla de referencia fuentes de financiación.                        
            .col
        .row
            .col
                p El anexo técnico de programación de la herramienta de plan de acción cuentan con 13 variables definidas, se encuentran: tipo de registro, consecutivo de registro, código del territorio de referencia de aplicación del plan de acción, código de la línea de acción por eje estratégico, consecutivo de la meta de la línea de acción, meta de la línea de acción, consecutivo de la actividad de la meta, descripción de la actividad programada, expresión numérica de la actividad, código de la población objetivo, fecha de inicio, fecha de terminación, recursos programados para la actividad.
                p.mt-3 El instrumento organiza la información y a través de las variables se identifican las intervenciones que planean y que se desarrollarían a fin de dar alcance a la política en sus territorios, en el orden departamental, municipal o distrital. El instrumento de seguimiento incorpora 13 variables que corresponden a las siguientes variables: tipo de registro, consecutivo de registro, código del territorio de referencia de aplicación del plan de acción, código de la línea de acción por eje estratégico, consecutivo de la meta de la línea de acción, consecutivo de la actividad, resultado de la actividad, código de la población objetivo intervenida, total población objetivo intervenida, recursos ejecutados a la fecha de corte, código de la fuente de los recursos, link dirección electrónica con evidencias de la ejecución, descripción del medio de verificación.

        .row.align-items-center.justify-content-center.my-5

            .col-12.col-md-10.col-media(style="background: #FFFCF5;")

                article.custom-item.d-flex.align-items-center.flex-column.flex-md-row

                   

                    .custom-item-info.card-border-bottom.my-2
                        .card(style="border-color: #E3DAC6").mb-0
                            .card-body-media(style="background: #FFFCF5;")
                                
                                p Es importante indicar que en el instrumento de seguimiento se incluyen nuevas variables con el propósito de tener una información más precisa de las acciones ejecutadas por las entidades, además que puedan ser consultadas en un espacio público. Estas son: total población objetivo-intervenida, código de la fuente de los recursos, link dirección electrónica con evidencias de la ejecución y descripción del medio de verificación.
        .row
            .col
                spam #[strong Los anexos técnicos son los siguientes:]
                hr
                p 1. Anexo de Programación se denomina PPS190PPPS: Es una estructura de datos que contiene los planes de acción con la programación de actividades a desarrollar durante la vigencia, para cumplir con la Política de Participación.
                hr
                p 2. Anexo de Seguimiento se denomina PPS190SPPS: Es la estructura de datos que contiene la ejecución de los planes de acción con el seguimiento realizado a las actividades que se desarrollaron en el territorio durante la anualidad, para cumplir con la Política de Participación Social en Salud.
                p.mt-3 El reporte del seguimiento de 2020 a través de Pisis se realizará en febrero de 2021.
                hr
    #tema4-2
    .header-ecored
        h1 
            spam 6. Seguimiento, monitoreo y evaluación

    .jumbotron.bg-white     
        .row
            .jumbotron.col-12.col-md-12(style="background-color:#FFFCF5") 
                .row    
                    .col-8
                        p El seguimiento y monitoreo de la Resolución 2063 del 2017, por la cual se establece la Política de Participación Social en Salud, le corresponde al Ministerio de Salud y Protección Social, a los Departamentos y Distritos a través del grupo para la Gestión y el Fomento de la Participación Social en Salud, este seguimiento permitirá identificar los alcances logros y aprendizajes de la misma, por parte de los integrantes del sistema a través del Sistema Integral de Información de la Protección Social – SISPRO.
                    .col-4
                        img(src="assets/images/pages/tema-3/grupo14272.png").img-fluid
        .row 
            .col
                p Por tanto, el seguimiento debe estar orientado a identificar las intervenciones que las entidades han ejecutado en pro del derecho a la participación social en salud, buscando fortalecer los vínculos entre la institucionalidad y la sociedad, en donde se evolucione con prácticas participativas amplios, incluyentes y democráticos en la gestión pública del sector, en el que la institucionalidad dispone de dispositivos que aumentan la capacidad de incidencia y decisión de la ciudadanía en la construcción social de la salud.
                p.mt-3 Por su parte, es importante mencionar que la responsabilidad de hacer inspección, vigilancia y control al cumplimiento de la PPSS está a cargo de la Superintendencia Nacional de Salud. Ministerio de Salud y Protección Social (9 de junio de 2017) Artículo 6 [Título I]. Política de Participación Social en Salud [Resolución 2063 de 2017] DO: 50.263