.container#page-estrategias        
    .header-ecored
        h1 4. Despliegue de las estrategias operativas en la toma de decisiones en la gestión del sector salud en función de los ejes de la política 

    .jumbotron.bg-white     
        .sub-ecored
            h3 Formulación y puesta en marcha del plan de acción
        p Dado que la implementación de la política de participación es gradual y progresiva, su desarrollo implica contar con una planeación estratégica efectiva desde el inicio de la programación del plan de acción hasta su ejecución para alcanzar las metas establecidas desde un panorama general hasta uno más detallado de las actividades para lograr la realización del derecho a la salud.
        img.img-a.my-5(src="assets/images/pages/tema-3/grupo14270.png").img-fluid
        p Lograr una óptima implementación implica trabajar en el desarrollo de acciones conectadas con las estrategias operativas: gestión, educación y comunicación, que dinamicen la precitada política pública, desplegándolas de manera transversal en sus cinco (5) ejes y articulándolas de manera que se optimicen esfuerzos operativos, logísticos y financieros para dar cumplimiento integral de la política.
        p Con el fin de apropiar el desarrollo y el despliegue de las estrategias, el equipo técnico del Ministerio de Salud y Protección Social diseñó una guía de formulación, que contiene las consideraciones necesarias para tener en cuenta para la programación de planes de acción. Estas recogen propuestas con los posibles puntos a revisar para la formulación de metas y a actividades de cada una de las líneas de acción de la PPSS, dichas consideraciones se presentan a manera de preguntas orientadoras, con el fin que guíen a los equipos que lideran los procesos de participación en las entidades del sector y que tienen a cargo el desarrollo de actividades a fin de dar cumplimento de la política, para lo cual es fundamental transversalizar las estrategias operativas de gestión, educación y comunicación, por medio de acciones integradas, lo que permitirá que tanto la programación como su desarrollo, se lleven a cabo de forma ordenada y articulada para que generen un impacto significativo en la garantía del derecho a la participación.
        p A continuación, se hace una descripción de las acciones y el alcance de cada una de las estrategias operativa de la política: 

        img.img-a.my-5(src="assets/images/pages/tema-3/grupo14127.png").img-fluid 

        section.mt-5    
            a(href="media/documentos/estrategias_operativas_politica.pdf" target="_blank").media-link      

                img(src="assets/images/pages/tema-3/grupo867.png", alt="").media-link-icon

                .media-link-title
                    p #[strong Anexo]. Estrategias operativas de la política.