.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 El derecho fundamental a la salud vinculado con el derecho a la participación:
            | comprende el derecho de las personas a participar en las decisiones adoptadas por los agentes del sistema de salud que la afectan o interesan. (Ley estatutaria 1751, 2015, pág.8)          
        p
            strong.mr-2 Formas de participación social en salud en Colombia:
            | se refiere a los datos legales referidos a la conformación y formalización de los espacios de participación y los recursos con los que cuenta. Estos son:  Servicio de Atención a la Comunidad – SAC, Comités de Participación Comunitaria – COPACOS, Consejos Territoriales de Seguridad Social en Salud – CTSSS, veedurías ciudadanas en salud, Asociaciones de Usuarios, Comités de Ética Hospitalaria, Consejos Territoriales de Seguridad Social, Servicio de Atención a la Comunidad y aquellas organizaciones sociales en salud establecidas y organizadas en torno a un programa de salud. (Resolución 2063, 2017, hoja 19, 20)
        p 
            strong.mr-2 Marco estratégico de la PPSS:
            | el Marco Estratégico de la PPSS corresponde a la construcción de respuestas a las necesidades de la ciudadanía, las organizaciones, las formas y los trabajadores del sector salud para fortalecer los procesos de participación; de igual forma, corresponde al reconocimiento de los requerimientos de las entidades territoriales y de las instituciones del sector salud.  El marco estratégico que está compuesto por los principios, objetivos, alcance, ejes estratégicos y las actividades, entendido como el instrumento de gestión de la Política de Participación Social en Salud. (Resolución 2063, 2017, Pág.25)
        p 
            strong.mr-2 Participación social en salud:
            | como práctica social se refiere a aquellos procesos por los cuales la ciudadanía afecta las decisiones públicas en favor del derecho a la salud. Ministerio de Salud y Protección social, (junio de 2020), Documento con lineamiento de transversalización de la política de participación social en salud / Resolución número 2063. Ministerio de Salud y Protección Social, Bogotá, Colombia, 9 de junio de 2017.
        p 
            strong.mr-2 Política de Participación Social en Salud-PPSS:
            | la PPSS sienta las bases para el cumplimiento del derecho a la participación en el marco de la Ley 1438 de 2011 y la Ley Estatutaria en Salud (Ley 1751 de 2015) y cobija a todo el territorio nacional y a todos los integrantes del sistema de salud. (Resolución 2063, 2017, Pág. 11- Pág. 45)
        p 
            strong.mr-2 Principios orientadores de la PPSS:
            | los principios se reconocen como orientaciones ético–políticas para todos los actores e instancias que desarrollan proceso de participación social, ordenan las acciones para el Estado, representado tanto a nivel central como en la totalidad de entidades territoriales. (Resolución 2063, 2017, Pág. 27)