//Colores base del material de formación
$brand-color-dark: #F4E9D4;
$text-color-dark: #6B614F;


//Esto lo puede cambiar poe el color que quiera q sugiera el tema. (sE QUITA EL lighten)
$brand-color-light: #F4E9D4;
$text-color-light: $primary;
$brand-color-secondary: #7CA7C9;

