.bg-color-naranja {
    background-color: orange;
}

.collapsable-title{
    color:black;
}
.img-a {
    display:block;
    margin:auto;
}
.card-media-color{
    background: #F4E9D4;
    border-radius: 10px;
}

.sub-ecored {
    h2,h3 {
        overflow: hidden;
        font-weight: 600;
    }

    h2:after,h3:after {
        content:"";
        display: inline-block;
        height: 0.5em;
        vertical-align: bottom;
        width: 100%;
        margin-right: -100%;
        margin-left: 10px;
        border-top: 1px solid #1AA6AB;
    }
}

.hr-ecored{
    border: 1px solid orange;
}

.hr{
    border: 1px solid #E3DAC6 !important;
}

.list {
    width: 100%;
    display: flex !important;    
    &__item {
      &__bulletNumber {
        position: relative;
        width: 30px;
        height: 30px;   
        margin-right: 1rem;   
        text-align: center;
        border-radius: 50%;
        background-color: orange;
        span {
          color: white;
          font-weight: 700;
          font-size: small;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);        
        }
      }
      &__number {
        position: relative;  
        margin-right: 1rem;    
        span {                
          color: orange;
          font-size: 15pt;
          font-weight: 700;
          line-height: 1.2;        
        }      
      }
      &__icon {
        position: relative;
        width: 15px;
        margin-right: 0.65rem;
        img {
          width: 15px;
          vertical-align: middle;
        }
      }
    }
    &__txt {  
      p:first-child, h3:first-child {
        margin-top:0px;
      }  
    }
  }